.form {
  margin: 30vh auto;
  height: 40vh;
    width: 50vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &__label {
      margin-bottom: 5px;
      font-size: 1.2rem;
    }

    &__input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      width: 40vw;
      height: 5vh;
    }
    
    &__btn {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      width: 40vw;
      height: 5vh;
      color:  #fff;
      background-color: #ccc;
      cursor: pointer;
    }
    
    &__btn:hover {
        background-color: #333;
    }
    
    &__btn:active {
        background-color: #444;
    }
    
    &__btn:focus {
        background-color: #555;
    }
    
    &__btn:disabled {
    background-color: #222;
      color: #ccc;
      cursor: not-allowed;
    }

  }
}
